body,
* {
  font-family: "SF Pro Text", sans-serif !important;
}

/* hero section starts here */
.hero-section {
  background: url(../assets/images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 100vh;
  padding-top: 90px;
  position: relative;
}

.hero-section::before {
  content: "";
  width: 265px;
  height: 200px;
  position: absolute;
  background: url(../assets/images/hero-left.webp), no-repeat, center;
  background-size: cover;
  top: 150px;
  left: -38px;
  z-index: 11;
}
.hero-section::after {
  content: "";
  width: 202px;
  height: 181px;
  position: absolute;
  background: url(../assets/images/hero-right.webp), no-repeat, center;
  background-size: cover;
  top: 150px;
  right: -10px;
  z-index: 11;
}

@media screen and (max-width: 1199.98px) {
  .hero-section::before {
    width: 240px;
    height: 180px;
    top: 200px;
  }
  .hero-section::after {
    width: 180px;
    height: 160px;
    top: 200px;
  }
}

@media screen and (max-width: 1023.98px) {
  .hero-section::before {
    display: none;
    content: unset;
  }
  .hero-section::after {
    display: none;
    content: unset;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-section {
    background: none !important;
    min-height: auto;
    padding-top: 56px;
  }
}
/* hero section ends here */
